:root {
  font-family: "Geologica", sans-serif;

  --color-primary: #fff;
  --color-gray-500: rgba(233, 233, 243, 0.10);
  --color-gray-400: rgba(233, 233, 243, 0.20);
  --color-gray-300: rgba(255,255,255, 0.4);
  --color-gray-200: rgba(233, 233, 243, 0.60);

  --br-base: 8px;
  --font-size-lg: 1.375rem; /* 22px */
  --font-size-xl: 1.875rem; /* 30px */
  --font-size-2xl: 2.25rem; /* 36px */


  color: var(--color-primary);
}

*{
  box-sizing: border-box;
}

body{
  width: 100%;
  max-width: 1360px;
  padding: 40px;
  margin: 0 auto;
  background: #0D3C6B;
  background: linear-gradient(90deg,rgba(13, 60, 107, 1) 0%, rgba(35, 126, 184, 1) 100%);
}

.content{
  padding-block: 56px;
}

